*.pyc

create_dict.py

stanford-ner-2015-01-30/
stanford-parser-full-2015-01-30/
stanford-postagger-full-2015-01-30/
stanford-segmenter-2015-01-30/


# ignore backup files and compressed files
*~
*.zip

